.searchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f2f2f2;
  max-width: 655px;
  height: 4.2vw;
  border-radius: 10px;
  margin-bottom: 7vw;
  &-img {
    margin-left: 1.5vw;
    width: 2.5vw;
    height: 2.5vw;
  }
  &-input {
    background: #f2f2f2;
    outline: none;
    border: 0;
    text-indent: 2.5vw;
  }
}
