@mixin display {
  display: flex;
  flex-direction: column;
}
@mixin bgdIcon {
  background: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardProducts {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
  .cardProduct {
    // max-width: 300px;
    height: 400px;
    padding: 10px 25px 0;
    z-index: 1;
    @include display;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: #3c4043;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .cardProduct_img {
      width: 132px;
      height: 200px;
      background: #c4c4c4;
      margin: 0 auto;
      .cardProduct_right {
        position: relative;
        right: -70px;
        top: -13px;
        @include display;
        align-items: flex-end;
        .cardProduct_icon {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          @include bgdIcon;
          margin-bottom: 10px;
          cursor: pointer;
        }
      }
    }
    .cardProduct_comments {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      .cardProduct_comments_info {
        display: flex;
        font-family: 'Aeroport-Light';
        color: rgba(151, 151, 151, 1);
        .cardProduct_comments_count {
          margin-left: 10px;
        }
      }
    }
    .cardProduct_name {
      margin: 15px 0 27px;
      font-family: 'Aeroport';
      &-link {
        text-decoration: none;
        color: black;
      }
    }
    .cardProduct_pay {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .cardProduct_pay_num {
        font-family: 'Aeroport-Medium';
      }
      .cardProduct_icon_shop {
        @include bgdIcon;
        background: #3c4043;
        width: 60px;
        height: 34px;
        border-radius: 50px;
      }
    }
  }
}
