.favoritesProduct {
  border-bottom: 0.5px solid;
  border-image: linear-gradient(to right, #5584ff, #9d60ff) 47% 0%;
  width: 838px;
  &-delete {
    color: white;
    width: 12px;
    position: relative;
    top: 20px;
    right: -98%;
    cursor: pointer;
  }
  &-delete:hover {
    color: red;
    transition: 0.5s;
  }
  .favoritesProduct_info {
    width: 93%;
    padding: 10px 0 20px;
    color: white;
    font-family: 'Aeroport-Medium';
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-img {
      width: 100px;
      height: 100px;
      background-color: #a99e9e;
    }
    &-count {
      font-family: 'Aeroport-Light';
    }
    &-sum {
      font-size: 22px;
    }
  }
}
