.CustomTriggerCSS,
.CustomTriggerCSS_open {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}
.Catalog {
  color: black;
}
.Catalog:not(:last-child) {
  border-bottom: 1px solid #c4c4c4;
}
.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Collapsible__trigger.is-open img {
  transform: rotate(180deg);
  transition: 0.5s;
}
.Collapsible__trigger.is-closed img {
  transform: rotate(0deg);
  transition: 0.5s;
}
